body {
  background-color: #f5f1f1;
  margin: 0;
  padding: 0;
}
h3 {
  margin-bottom: 5px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: .25rem;
}