.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: .25rem;
}
.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.oneFilter span {
  font-size: .7rem;
  color: rgb(118, 118, 118);
}